body {margin:20px}
#container {width:960px; margin:auto}

header {display:block;clear:both;color:brown;font-family:微軟正黑體;background:pink;text-align:center}
aside {display:block;float:left;width:14%;hight:50%;padding:5px;background:aliceblue}
article {display:block;float:right;width:83%;hight:50%;padding:5px;background:floralwhite}
footer {display:block;clear:both;color:white;background:black;text-align:center}
